*,
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 237, 240);
}

nav{
    justify-content: space-between;
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
    position: fixed;
    color: aliceblue;
    background-color: rgb(88, 105, 212);
}

nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: rgb(252, 240, 240);
    font-size: 20px;
    transition: 0s;
}

ul li a:hover{
    color: orange;
    border-bottom: 2px solid orange;
}

.menu-icon{
    font-size: 25px;
    display: none;
   
}

@media (max-width:768px){
    /* nav{
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
    }

    nav ul{
       flex-direction: column;
       width: 100%;
    }
    
    nav ul.hidden{
        display: none;
    }

    .menu-icon{
      
        align-items: center;
        display: flex;
    } */
}


.judul{
    text-align: center;
    margin-bottom: 15PX;
    margin-top: 10%;
}
.judul-end{
    text-align: center;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
}

/*content*/

.card{
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card-items{
    margin-top: 8%;
    flex-direction: column;
    width: 60%;
    /* border: 2px solid black; */
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}

.trevel{
    margin-bottom: 0;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    color: rgb(2, 2, 2);
    border-radius: 10px 10px 0px 0px;
}

.img-a{
 border-radius: 10px 10px 10px 10px;
  width: 100%;
  box-shadow: 4px 4px black;
}

.week{
}

.pp{
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 10px;
}

.chenel{
    margin-top: 15px;
   display: flex;
   align-items: center;
   gap: 1rem;
   
}

h3{
    margin-bottom: 20px;
}

.verfikasi{
    margin-bottom: 29px;
}

.login{
    margin-top: 8%;
    width: 300px;
    background-color: aquamarine;
    border: 1px solid black;
    gap: 1rem;
    margin-left: 8px;
    border-radius: 12px;
    box-shadow: 3px 3px black;
    font-family: "Roboto Mono", monospace;
}

form{
    display: block;
    box-sizing: border-box;
    padding: 30px;
    margin-left: 20px;
}

input{
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
}

form .input_wrap .eror_msg{
    color: red;
    margin-bottom: 6px;
    display: none;
}
.btn{
    background-color: rgb(25, 24, 24);
    color: aliceblue;
}

/* kemamanan */

.box{
    margin-top: 30px;
    display: flex;
    /* overflow-x: auto;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px; */
}

.praturan{
    margin-top: 5%;
    text-align: center;
    background-color: rgb(231, 54, 54);
    padding: 15px;
    color: aliceblue;
}

b{
    font-size: 25px;
}

.keamanan{
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
}

.barisan{
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* border: 2px solid black; */
    width: 50%;
    /* background-color: rgb(207, 196, 196); */
    /* border-radius: 30px 0px 30px 0px; */
    color: rgb(37, 39, 40);
    text-align: center;
    padding: 15px;
}

.barisan:hover{
    color: white;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    background-color: rgb(168, 81, 81);

}

.tips{
  flex-direction: column;
  margin-left: 5px;
}

.tips1{
    font-size: 20px;
    font-weight: bold;
}

/* tujuan kota */

.tj{
    justify-content: center;
    align-items: center;
    display: flex;
}

.tujuan{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    background-color: brown;
    width: 300px;
    padding: 15px;
    border-radius: 12px;
    color: aliceblue;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    
}

.cards{
    text-align: center;
    background-color: darkcyan;
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    box-shadow: 5px 5px black;
    cursor: pointer;
  
}

.cards:hover{
    /* transform: scale(1,2); */
    background-color: tomato;
}

.kota{
    align-items: center;
   margin: 10px;
   font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

i{
    color: red;
}

.bali{
    font-size: 20px;
    font-weight: bold;
  
}

.arahan{
    text-align: center;
    margin-top: 15px;
    box-sizing: border-box;
}

.kotak{
    box-sizing: border-box;
}

.arahan1{
    font-size: 20px;
    font-weight: bold;
}

.arahan2{
    /* font-family: "Roboto Mono", monospace; */
    box-sizing: border-box;
}

.location{
    color: red;
}

.tombol{
    margin-top: 20px;
}

button{
    padding: 7px 17px;
    width: 150px;
    color: aliceblue;
    background-color: rgb(94, 94, 229);
    margin-bottom: 10px;
    border: 3px solid white;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.suport{
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.revo{
    width: 100px;
    border-radius: 50%;
}

h4{
    margin-top: 20px;
    text-align: center;
    font-size: 27px;
}

.wrapper{
    margin-top: 30px;
    height: auto;
    display: flex;
    overflow-x: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px 15px 15px 15px;
}

.item{
    border-radius: 15px;
    gap: 1rem;
    height: 150px;
    width: 100%;
    margin: 5px;
    border: 1px solid black;
   
}

.item:hover{
    background-color: aliceblue;
    border-radius: 20px;
    border: 2px solid orange;
}


/*respinsve*/

@media (max-width: 600px){
    /* .img-a{
        width: 100%;
    }
    .item{
        width: 90%;
    }
    .item:hover{
        background-color: aliceblue;
        border-radius: 15px;
    }
    .wrapper::-webkit-scrollbar{
        width: 0;
    }
    .judul{
        margin-top: 20%;
    }
    .card-items{
        width: 90%;
        border: none;
    }
    .barisan{
        justify-content: center;
        display: flex;
         width: 90%;
    }
    .box{
        justify-content: center;
        flex-wrap: wrap;
    }

    .cards{
        width: 90%;
    } */
   body{
    display: none;
   }
}

